# I am Shreenidhi Hipparagi, Data Science enthusiast from India

# Before doing any task we need to import the libraries required

In [1]:
import pandas as pd
import numpy as np
print("libraries imported")

F:\python\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
F:\python\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
F:\python\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

libraries imported

In [2]:
x=pd.read_csv("X_train.csv")
y=pd.read_csv("y_train.csv")
xtest=pd.read_csv("X_test.csv")
x1=x
xtest1=xtest
print("Datasets are imported")

Datasets are imported

# Lets us drop the moon and id column

In [3]:
x1=x1.drop("Moons",axis=1)
xtest1=xtest1.drop("Moons",axis=1)
x1=x1.drop("id",axis=1)
xtest1=xtest1.drop("id",axis=1)

# After importing the dataset, we need to check if we have imported our data correctly or not. We will do this by using .head method of pandas

In [4]:
x1.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,Feature_11,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Feature_17,Feature_18
0,0.00,1.00,0.25,0.75,0.00,0.25,0.50,0.25,0.25,0.25,0.25,1.0,0.0,0.0,0.0,0.0,0.00,0.75
1,0.00,0.00,0.25,0.00,0.00,0.00,0.50,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0.00,1.00
2,0.75,0.75,0.00,0.25,0.25,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.75,1.00
3,0.75,0.50,0.25,0.25,0.75,0.25,0.25,0.50,0.50,0.50,0.25,0.5,0.5,0.0,0.0,0.0,0.75,0.75
4,0.00,1.00,0.00,1.00,0.00,1.00,0.00,0.25,0.25,0.25,1.00,1.0,0.0,0.0,0.0,0.0,0.00,1.00

In [5]:
xtest1.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,Feature_11,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Feature_17,Feature_18
0,0.00,0.50,0.50,0.25,0.00,0.00,0.75,1.00,1.00,1.00,0.00,1.00,0.75,0.75,0.50,0.50,0.50,0.75
1,0.25,0.50,0.25,0.75,0.75,0.00,0.75,0.00,0.00,0.00,0.00,0.00,0.75,0.75,0.75,0.25,0.75,0.50
2,0.00,0.00,0.50,0.75,0.00,1.00,0.25,1.00,1.00,0.25,1.00,1.00,0.25,0.75,0.25,0.25,0.75,0.75
3,0.50,0.50,0.00,0.50,0.75,0.75,0.00,0.75,0.75,0.75,0.75,0.50,0.00,0.75,0.50,0.50,0.00,1.00
4,1.00,0.75,0.50,0.75,1.00,0.00,0.50,0.25,0.25,0.25,0.00,0.25,1.00,1.00,1.00,1.00,1.00,0.75

# Feature selection

## I am using variance threshold from sklearn 

## Variance Threshold:- It is a feature selector that removes all low variance features.
### The threshold I have used is 0.132

In [ ]:
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=0.132)

In [ ]:
vt.fit(x1)

In [ ]:
const_col=[column for column in x1.columns if column not in x1.columns[vt.get_support()]]
const_col

# Feature_1, Feature_3, Feature_16, Feature_18 are low variance features and hence dropped from the dataset

In [ ]:
x1=x1.drop(const_col,axis=1)
xtest1=xtest1.drop(const_col,axis=1)
x1.head()

# Lets create train and test dataset using train test split method from sklearn, with the test size of 25% of whole data

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xvalid,ytrain,yvalid=train_test_split(x1,y,test_size=0.25,random_state=7)

## we will create a new variable which will contain single column of target varibale so that we can use it while evaluating our XGBoost model

In [ ]:
ytrain1=ytrain['target_r']
ytrain2=ytrain['target_g']
ytrain3=ytrain['target_b']
yvalid1=yvalid['target_r']
yvalid2=yvalid['target_g']
yvalid3=yvalid['target_b']

# Lets create our model using XGB

In [ ]:
from xgboost import XGBRFRegressor
xgb=XGBRFRegressor()
xgb.fit(xtrain,ytrain1)

# ytrain1 is the target column for target_r, we used this to fit the model

In [ ]:
ypred1=xgb.predict(xvalid)

In [ ]:
from sklearn.metrics import mean_squared_error as mse
np.sqrt(mse(ypred1,yvalid1))

# metric that we used to evaluate is root mean squared error

In [ ]:
yfinal1=xgb.predict(xtest1)

In [ ]:
yfinal1=pd.DataFrame(yfinal1,columns=['target_r'])
yfinal1.max()

# the final prediction of target_r for the test dataset provided by Datacrunch team

In [ ]:
xgb.fit(xtrain,ytrain2)
ypred2=xgb.predict(xvalid)
print(np.sqrt(mse(ypred2,yvalid2)))
print("Training done on target_g")

In [ ]:
yfinal2=xgb.predict(xtest1)
yfinal2=pd.DataFrame(yfinal2,columns=['target_g'])
yfinal2.max()

# the final prediction of target_g

In [ ]:
xgb.fit(xtrain,ytrain3)
ypred3=xgb.predict(xvalid)
print(np.sqrt(mse(ypred3,yvalid3)))
print("Training done on target_b")

In [ ]:
yfinal3=xgb.predict(xtest1)
yfinal3=pd.DataFrame(yfinal3,columns=['target_b'])
yfinal3.max()

# final prediction on target_b

In [ ]:
yfinall=pd.concat([yfinal1,yfinal2,yfinal3],axis=1)
yfinall.head()

# We have concatenated the three datafram into one dataframe

In [ ]:
yfinall.max()

# Let us save a csv file of our final result

In [ ]:
yfinall.to_csv("final2.csv")